img {
    max-width:100%;
    height:auto;
}

#modules-list .card {
    margin-bottom: 10px;
}

.option {
    border-color: grey;
    border-style: solid;
    border-width: 2px;
}

.answer {
    border-color: grey;
    border-style: solid;
    border-width: 2px;
    height: 200px;
}

.empty-div {
    border-color: grey;
    border-style: solid;
    border-width: 2px;
    height: 200px;
}

.answer-filled {

}

.star {
    max-width: 30px;
}

.star-answer {
    max-width: 30px;
}