<!DOCTYPE html>

{% extends "layout.html" %}


{% block content %}

<div class = "container-fluid">
    <div class = "row">
        <div class = "col-12">
            <h1><span class = "text-muted">Welcome to</span> Dress for Good</h1>
            <p class = "lead">The fashion industry is responsible for <strong> 10% of global carbon emissions.</strong> Help change that. </p>
        </div>

        <div class = "col-12">
            <p>Learn about fabrics, ways of buying clothing, etc to make more informed choices about what you wear to help the environment and reduce your impact. Maybe some more text here etc… </p>            </p>
        </div>

    </div>

    <div class = "row justify-content-center mb-4"> 
        <div class = "col-6">
            <a role="button" href='/learn' class="btn btn-outline-primary btn-lg btn-block">Get started!</a>
        </div>
    </div>
    
    <div class = "row no-gutters">
        <div class = "col-6">
            <img src = "/static/images/denim.jpg">
        </div>
        <div class = "col-6">
            <img src = "/static/images/linen.jpg">
        </div>
    </div>
    

</div>


{% endblock %}