<!DOCTYPE html>

{% extends "layout.html" %}

{% block content %}

<script>
    var modules_json = {{modules|tojson}};
    var sustainability_modules = modules_json["sustainability_modules"];
</script>
<script src = "/static/learn.js"></script>
<div class = "container-fluid">
    <div class = "row">
        <div class = "col-12">
            <h1><span class = "text-muted">Learn about</span> sustainability</h1>
        </div>

        <div class = "col-12">
            <p>Check out the modules below to get started learning about what makes different types of clothing more or less sustainable.</p>
            <p>Start off with the modules to learn what <strong>sustainability means for clothing</strong>, 
                then move onto looking at <strong>different types of clothing</strong> and learn about their environmental impact.</p>
        </div>
    </div>

    <div class = "row">
        <div class = "col-12">
            <h3>Sustainability</h3>
        </div>
        <div class = "container-fluid" style="padding-bottom:10px;">
            <div id = "modules-list" class = "row row-mb-4">
                
    
            </div>

            
        </div>

        
    </div>
</div>


{% endblock %}