<!DOCTYPE html>

{% extends "layout.html" %}

{% block content %}
<div class = "container-fluid">
    <div class = "row">
        <div class = "col-12">
            <h1><span class = "text-muted">Learn about</span> sustainability</h1>
        </div>

        <div class = "col-12">
            <p>Check out the modules below to get started learning about what makes different types of clothing more or less sustainable</p>
        </div>
    </div>

    <div class = "row">
        <div class = "col-12">
            <h3>Sustainability</h3>
        </div>
        <div class = "container-fluid" style="padding-bottom:10px;">
            <div id = "modules-list" class = "row row-mb-4">
                <div class = "col-lg-3 col-md-4 col-sm-4 col-mb-4">
                    <div class="card">
                        <img src="/static/images/denim.jpg" class="card-img-top" alt="image">
                        <div class="card-body">
                          <h5 class="card-title">Production methods</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class = "col-lg-3 col-md-4 col-sm-4 col-mb-4">
                    <div class="card">
                        <img src="/static/images/linen.jpg" class="card-img-top" alt="image">
                        <div class="card-body">
                          <h5 class="card-title">Production methods</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
                
                <div class = "col-lg-3 col-md-4 col-sm-4 col-mb-4">
                    <div class="card">
                        <img src="/static/images/linen.jpg" class="card-img-top" alt="image">
                        <div class="card-body">
                          <h5 class="card-title">Production methods</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
    
            </div>

            
        </div>

        <div class = "col-12">
            <h3>Types of clothing</h3>
        </div>

        <div class = "container-fluid">
            <div id = "modules-list" class = "row row-mb-4">
                <div class = "col-lg-3 col-md-4 col-sm-4 col-mb-4">
                    <div class="card">
                        <img src="/static/images/denim.jpg" class="card-img-top" alt="image">
                        <div class="card-body">
                          <h5 class="card-title">Production methods</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class = "col-lg-3 col-md-4 col-sm-4 col-mb-4">
                    <div class="card">
                        <img src="/static/images/linen.jpg" class="card-img-top" alt="image">
                        <div class="card-body">
                          <h5 class="card-title">Production methods</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class = "col-lg-3 col-md-4 col-sm-4 col-mb-4">
                    <div class="card">
                        <img src="/static/images/denim.jpg" class="card-img-top" alt="image">
                        <div class="card-body">
                          <h5 class="card-title">Production methods</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>

                <div class = "col-lg-3 col-md-4 col-sm-4 col-mb-4">
                    <div class="card">
                        <img src="/static/images/linen.jpg" class="card-img-top" alt="image">
                        <div class="card-body">
                          <h5 class="card-title">Production methods</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>         
    
            </div>
    </div>
</div>


{% endblock %}