<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
<script>
    var modules_received = {{module|tojson}};
    var module = modules_received["module"];
</script>
<script src="/static/module.js"></script>
<body>
    <div class = "container-fluid">
        
        
        <div class = "row mb-4">
            <div class ="col-12">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" id = "module_back" href="">Back</a>
                    </li>
                    <li class="nav-item">
                        <p class = "nav-link" id = "module_number"><b>Module 1</b></p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" id = "module_next">Next</a>
                    </li>
                </ul>
            </div>
            
            <div class = "col-md-6 col-sm-12">
                <h1 id = "module_title"></h1>
                <p id = "module_description"></p>
                <h4>Key things to remember:</h4>
                <ul id = "module_key_points">
                    
                    
                </ul>
            </div>
            <div class = "col-md-6 col-sm-12">
                <img id = "module_img">
            </div>
        </div>


        <div class = "row" id = "examples">
            <div class = "col-12 mb-4">
                <hr>
                <h2>In the real world:</h2>
                
            </div>
            
        </div>













    </div>


    Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>

</body>




{% endblock %}