<!DOCTYPE html>

{% extends "layout.html" %}


{% block content %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    var questionsArray = {{questions|tojson}};
</script>
<script src="/static/question.js"></script>

<style>
    img {
        max-height: 300px;
    }
</style>


<div class = "container-fluid">
    <div class = "row">
        <div class ="col-12">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                </li>
                <li class="nav-item">
                  <p class = "nav-link" id = "question_number"><b>Question 1</b></p>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id = "question_next" href="#">Next</a>
                </li>
              </ul>
        </div>
    </div>


    <div class = "row mb-2" id = "question_heading">
        <div class = "col-8" id = "question_title">
            
        </div>
        <div class = "col-4" id = "score">
        </div>
    </div>

    <div class = "row mb-4 no-gutters" id = "options">
        
    </div>


    <div class = "row no-gutters mb-4" id = "answers">
        <div class = "col-4 answer" quizid = '1'>

        </div>

        <div class = "col-4 answer" quizid = '2'>
            
        </div>

        <div class = "col-4 answer" quizid = '3'>
            
        </div>
    </div>

    <div class = "row mb-4" id = "buttons">
        <div class = "col-6 col-md-0">

        </div>
        <div class = "col-6 col-md-12">
            <button type="button" class="btn btn-outline-danger" id = "reset" disabled=true>Reset</button>
            <button type="button" class="btn btn-outline-primary" id = "submit" disabled=true>Submit</button>
            <button type="button" class="btn btn-outline-secondary" id = "solution">See solution</button>
        </div>
        
        
    </div>

    <div class = "row no-gutters mb-4" id = "solutions">

    </div>



</div>


{% endblock %}