<!DOCTYPE html>

{% extends "layout.html" %}


{% block content %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/question.js"></script>

<div class = "container-fluid">
    <div class = "row">
        <div class ="col-12">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Back</a>
                </li>
                <li class="nav-item">
                  <p class = "nav-link"><b>Question 1</b></p>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Next</a>
                </li>
              </ul>
        </div>
    </div>


    <div class = "row mb-2">
        <div class = "col-12">
            <h4>You need a new pair of pants to wear casually on weekends. Rank these options.</h4>
        </div>
    </div>

    <div class = "row mb-4 no-gutters" id = "options">
        
    </div>


    <div class = "row no-gutters" id = "answers">
        <div class = "col-4 answer" quizid = '1'>

        </div>

        <div class = "col-4 answer" quizid = '2'>
            
        </div>

        <div class = "col-4 answer" quizid = '3'>
            
        </div>
    </div>



</div>


{% endblock %}